@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body, #root{
        @apply h-full bg-backdrop text-white antialiased
    }
    #root{
        @apply flex flex-col
    }
    .wrapper{
        height: calc( 100% - 90px );
        @apply flex
    }
    .scrollable{
        scroll-behavior: smooth;
    }
    
}